[submodule "fonts/powerline-fonts"]
	path = fonts/powerline-fonts
	url = https://github.com/powerline/fonts.git
[submodule "vim/vim.symlink/bundle/ctrlp.vim"]
	path = vim/vim.symlink/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/vim.symlink/bundle/nerdtree"]
	path = vim/vim.symlink/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/vim.symlink/bundle/syntastic"]
	path = vim/vim.symlink/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/vim.symlink/bundle/tagbar"]
	path = vim/vim.symlink/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/vim.symlink/bundle/vim-airline"]
	path = vim/vim.symlink/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim/vim.symlink/bundle/vim-go"]
	path = vim/vim.symlink/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/vim.symlink/bundle/YouCompleteMe"]
	path = vim/vim.symlink/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "zsh/zsh_custom.symlink/plugins/zsh-syntax-highlighting"]
	path = zsh/zsh_custom.symlink/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "vim/vim.symlink/bundle/vim-colors-solarized"]
	path = vim/vim.symlink/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/vim.symlink/bundle/matchit"]
	path = vim/vim.symlink/bundle/matchit
	url = https://github.com/tmhedberg/matchit.git
[submodule "vim/vim.symlink/bundle/vim-pasta"]
	path = vim/vim.symlink/bundle/vim-pasta
	url = https://github.com/sickill/vim-pasta
[submodule "vim/vim.symlink/bundle/ZoomWin"]
	path = vim/vim.symlink/bundle/ZoomWin
	url = https://github.com/regedarek/ZoomWin.git
[submodule "vim/vim.symlink/bundle/tcomment_vim"]
	path = vim/vim.symlink/bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "vim/vim.symlink/bundle/vim-fugitive"]
	path = vim/vim.symlink/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/vim.symlink/bundle/vim-numbertoggle"]
	path = vim/vim.symlink/bundle/vim-numbertoggle
	url = https://github.com/jeffkreeftmeijer/vim-numbertoggle
[submodule "vim/vim.symlink/bundle/hardmode"]
	path = vim/vim.symlink/bundle/hardmode
	url = https://github.com/wikitopian/hardmode
[submodule "vim/vim.symlink/bundle/vim-surround"]
	path = vim/vim.symlink/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/vim.symlink/bundle/vim-better-whitespace"]
	path = vim/vim.symlink/bundle/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace
[submodule "vim/vim.symlink/bundle/vim-hardtime"]
	path = vim/vim.symlink/bundle/vim-hardtime
	url = https://github.com/takac/vim-hardtime
[submodule "vim/vim.symlink/bundle/vim-flake8"]
	path = vim/vim.symlink/bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "vim/vim.symlink/bundle/vim-slime"]
	path = vim/vim.symlink/bundle/vim-slime
	url = https://github.com/jpalardy/vim-slime.git
[submodule "vim/vim.symlink/bundle/vim-terraform"]
	path = vim/vim.symlink/bundle/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
